.users {
    display: flex;
    flex-wrap: wrap;
}
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    background: pink;
    width: 220px;
    height: 120px;
    margin: 10px;
    margin-left: calc(23% - 100px);
    margin-right: calc(23% - 100px);
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}
.user a {
    text-decoration: none;
    color: black;
}